#header{
  width:900px;
  height:70px;
  margin-bottom:10px;
  background-color: lightgrey;
  text-align: center;
}


#leftmenu{
  width:295px;
  height:500px;
  float:left;
  margin-top:10px;
  margin-left:0px;
  margin-right:10px;
  margin-bottom:10px;
  background-color: lightgrey;
  text-align: center;
}

#maincontent{
  width:595px;
  height:500px;
  float:left;
  margin-top:10px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:10px;
  background-color: lightgrey;
  text-align: center;
}

#footer{
  width:900px;
  height:30px;
  float:left;
  margin-top:10px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:10px;
  background-color: lightgrey;
  clear:left;
  text-align: center;
}
